selector {
    property: value;
}
body {
    background-color: #38DF64;
    font-family: Courier;
    font-size: 20px;
}
h1.center {
    font-family: Courier;
    font-size: 75px;
    color: white;
    text-align: center;
    background-color: #007C21;height: 100px; width: 600px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    width: 450px;
}
h2 {
    font-family: Courier;
    font-size: 50px;
    color: white;
    text-align: center;
}
img {
    height: 1000px;
    width: 700px;
}
img {
    height: 500px;
    width: 650px;
}
img {
    height: 500px;
    width: 800px;
}
h2 {
    font-family: Courier;
    font-size: 50px;
    color: white;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-left: auto;
    height: 500px;
    width: 800px;
}
h3 {
    font-family: Courier;
    color: white;
}
img {
    height: 200px;
    width: 400px;
}
img {
    height: 200px;
    width: 400px;
}
img {
    height: 200px;
    height: 400px;
}

